:root {
  --swiper-pagination-top: 0px;
  --swiper-pagination-bottom: unset;
}

.wrapper {
  padding-top: 40px;
}

.bullet {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  opacity: 1;
  cursor: pointer;
  border: 1px solid black;
  margin-right: 10px;
}

.bulletWrapper {
  bottom: unset !important;
}

.bulletActive {
  background-color: black;
  color: white;
}
